/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{background-color: #F2F2F2;}

p{margin-top: 5px; margin-bottom: 5px;}

/*Estilos cabecera*/
header{
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0 auto;
}

#logo{
    width: 35%;
    height: 140px;
    margin: 0 auto;
    padding-top: 10px;
}

#logo img{
    display: block;
    width: 60px;
    float: left;
    margin-top: 20px;
}

#logo h1{
    display: block;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: 100;
    color: #2ba977;
    float: left;

}

/*Estilos barra navegacion*/
nav{
    width: 1250px;
    /* height: 35px; */
    margin: 0 auto;
    padding: 15px 0;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    box-shadow: 0px 22px 22px gray;
    font-size: 20px;
    /* padding-top: 15px; */

}
nav a{
    padding: 15px 10px;
    color: #d1d4d6;
}
nav a:hover{
    background: #2ba977;
    box-shadow: 0px 0px 5px #333333 inset;
    color: white;
    transition: all 300ms;
}

.barra{
    width: 1250px;
    margin: 0 auto;
}

.esquina-izquierda{
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}
.esquina-derecha{
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}
.relleno-barra{
    display: block;
    width: 1210px;
    background-color: #2b2f30;
    height: 10px;
    float: left;
}

.date{
    display: block;
    margin-top: 15;
    margin-bottom: 5px;
    color: gray;
}

.content{
    line-height: 25px;
}

/*Estilos contenido central*/
#content{
    width: 1212px;
    min-height: 930px;
    margin: 30px auto;
    margin-top: 50px;

}
.box{
    background-color: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 0 auto;
    border-radius: 2px;
}

.rojo{
    color: red;
}

.clearfix{
    clear: both;
    float: none;
}

.article-item{
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
    clear: both;
    border-bottom: 1px solid #eee;
}

.article-item .image{
    width: 200px;
    height: 200px;
    float: left;
    overflow: hidden;
}

.article-item .image img{
    height: 200px;

}

.btn{
    padding: 10px;
    background-color: rgb(199, 5, 5);
    display: block;
    color: white;
    border: 1px solid black;
    margin-top: 20px;
    width: 100px;
    text-align: center;
}


.article-item .data{
    float: left;
    padding: 15px;
    padding-top: 0px;
}

.article-item h2{
    display: block;
    font-size: 25px;
    margin-bottom: 15px;
    color: #333;
}

.article-item span.date{
    display: block;
    font-size: 15px;
    color: gray;
    margin-bottom: 10px;
}

.box form{
    width: 40%;
}

.box form input,
.box form label{
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form textarea,
.box form select{
    width: 100%;
    margin-bottom: 10px;
}

.box form select{
    width: 100px;
    padding: 5px;
}

.box form input[type="submit"],
.box form input[type="button"],
.box form button{
    padding: 10px;
    margin-top: 5px;
    background-color: #2ba977;
    color: white;
}

.title{
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}
footer{
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
}